.input-div {
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    height: 32px;
    width: 100%;
    max-width: 200px;
    border-radius: 2px;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    cursor : pointer;
}

.input-div:hover {
    border: 1px solid #40a9ff;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, .2);
}

.inner-container {
    border: 1px solid blue;
    height: 100px;
    overflow-y: scroll;
    display: inline-block;
}

.outer-container {
    box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
    overflow: hidden;
}

.all-container {
    position: absolute;
    text-align: left;
}

.option {
    text-align: left;
    border: 1px solid black;
    cursor : pointer;
    padding: 5px;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
}

.option:hover {
    background-color: #40a9ff;
}

.option-chosen {
    background-color: rgb(230, 247, 255);
}

::-webkit-scrollbar {
    display: none;
}

.hidden {
    display: none;

}